version: '3.8'

services:
  safe-trader:
    build: .
    container_name: safe-trader-${INSTANCE_NAME}
    restart: unless-stopped
    environment:
      - DB_PATH=/home/safetrader/safe_trader.db
      - LOG_PATH=/home/safetrader
      - CONFIGS_PATH=/home/safetrader/configs
      - HTML_OUTPUT_DIR=/home/safetrader/output
      - HTML_TEMPLATE_PATH=docker-dashboard.html
      - LOG_LEVEL=20
      - ALGORITHM_VERSION=v5
      - COLLECT_HISTORICAL_DATA=0
      - BOT_ERROR_PAUSE_ROUNDS=1
      - MAX_CONCURRENT_BOTS=1
      - OLD_ENCRYPTION_KEY=
      - FLASK_ENV=production
      - LOCAL_DEVELOPMENT=1
    volumes:
      - ${HOST_DATA_DIR}:/home/safetrader/
    command: ["./docker-app.bin"]